<app-navbar (setActiveSection)="activeSection = $event"></app-navbar>
<div class="main-content">
  <div *ngIf="activeSection === 'dashboard'" class="section">
    <app-dashboard-overview></app-dashboard-overview>
    <app-transaction-table></app-transaction-table>
  </div>
  <div *ngIf="activeSection === 'approvals'" class="section">
    <app-approvals></app-approvals>
  </div>
  <div *ngIf="activeSection === 'alerts'" class="section">
    <app-notifications></app-notifications>
  </div>
</div>
